# Dependencias
node_modules/
npm-debug.log

# Entorno
.env
.env.local
!.env.example

# Datos
app/data/*
!app/data/.gitkeep

# Backups
backups/*
!backups/.gitkeep

# Logs
logs/*
!logs/.gitkeep

# Sistema
.DS_Store
*.tmp
